@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<IEnumerable<Showdown.Model.Restaurant>>

@using System.Collections.Generic;
@using System.Linq
@using Showdown.Model

@{
    ViewBag.Title = "Restaurant";
    Layout = "/common/_Layout";
}

@helper DisplayRestaurant(Restaurant restaurant)
{
    <div class="span5" id="@restaurant.Id">
        <h3 id="tabs">@restaurant.Name</h3>
        <ul class="nav nav-tabs">
            <li class="active"><a  data-toggle="tab" onclick="activateCorrectDiv(($(this).closest('div').attr('id')),'review')">Review</a></li>
            <li><a  data-toggle="tab" onclick="activateCorrectDiv(($(this).closest('div').attr('id')),'web')">Web</a></li>
            <li><a  data-toggle="tab" onclick="activateCorrectDiv(($(this).closest('div').attr('id')),'photos')">Photos</a></li>
            <li><a  data-toggle="tab" onclick="activateCorrectDiv(($(this).closest('div').attr('id')),'location')">Location</a></li>
            <li><a  data-toggle="tab" onclick="activateCorrectDiv(($(this).closest('div').attr('id')),'map')">Map</a></li>
        </ul>
        <div class="tabbable">
            <div class="tab-content">

                <div class="tab-pane active" id="review">
                    @foreach (var review in @restaurant.Review)
                        {
                        <blockquote>
                            @review.Content
                        </blockquote>
                        <p>
                            Rating : @review.Rating
                        </p>
                        <p>
                            Review Date : @review.ReviewDate.ToShortDateString()
                        </p> 
                        <br />  
                         }
                </div>

                <div class="tab-pane" id="web">
                    @foreach (var link in @restaurant.UsefulLinks)
                        {
                        <a href="@link">@link</a>
                        <br />
                        }
                </div>

                <div class="tab-pane" id="photos">
                   No photos for @restaurant.Id
                </div>

                <div class="tab-pane" id="location">
                    Address
                    <address>
                        @restaurant.Address
                    </address>
                    <br />
                    Phones :  
                    @foreach (var phone in @restaurant.PhoneNumber)
{
    <br />
    <span itemprop="telephone">
        <a href=callto:@phone >@phone</a>
    </span>
}
                </div>

                <div class="tab-pane" id="map">
                    <p>The map goes here</p>
                </div>

            </div>
        </div>
        <!-- /tabbable -->
    </div>
}

@RenderBody()

<body>
    <section id="Restaurant">
        <div class="page-header offset1">
            <div class="pull-right">
                <a href="/restaurant/create" class="btn btn-info">Create a Restaurant</a>
            </div>
            <h1>
                    Restaurants
            </h1>

        </div>   

            <div class="container">
            @{
                var even = Model.Count() % 2 == 0;
                var restaurants = Model.ToArray();
                if (even)
                {
                    for (int i = 0; i < Model.Count() - 1; i = i + 2)
                    {
                        <div class="row offset1">
                            @DisplayRestaurant(restaurants[i])
                            @DisplayRestaurant(restaurants[i + 1])
                        </div>
                    }
                }
                else
                {
                    for (int i = 1; i <= Model.Count(); i = i + 2)
                    {
                        <div class="row offset1">
                            @DisplayRestaurant(restaurants[i -1])
                            @if (i != Model.Count())
                            {
                                @DisplayRestaurant(restaurants[i])
                            }
                        </div>
                    }
                }
            }
        </div>
    </section>
</body>
<script type="text/javascript">
    
    function activateCorrectDiv(restaurantName , e) {
        $('.tab-pane').removeClass('active');
        $('#' + restaurantName + ' #' + e).addClass('active');
    };
    
</script>