@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<IEnumerable<Showdown.Model.Restaurant>>
@using System.Collections.Generic;
@using System.Linq
@using Showdown.Model

@{
    ViewBag.Title = "Reviews";
    Layout = "/common/_Layout";
}

@helper DisplayRestaurant( Restaurant restaurant )
    {
    <br />
    <div class="testimonial">
        <div class="quote">
            <p>
               @restaurant.Review.FirstOrDefault().Content;
            </p>
        </div>
        <div class="triangle"></div>
        <img class="photo" src="img/nerel.jpg" width="65" alt="Nerel Photo">
        <div class="name">@restaurant.Name</div>
        <div class="byline">
            <a href="@restaurant.UsefulLinks.FirstOrDefault()">@restaurant.UsefulLinks.FirstOrDefault()</a>
        </div>
    </div>
}

@RenderBody()

<body>
    <section id="Reviews">
        <div class="page-header offset1">
            <hgroup>
                <h4 class="pull-right">
                    <a href="#reviewModal" role="alert" class="btn btn-info" data-toggle="modal">Create a Review</a>
                </h4>
                <h1>Reviews
                </h1>
            </hgroup>
        </div>
        <div class="container">
            @{
                foreach (var restaurant in Model)
                    {
                <div class="row offset1">
                    @DisplayRestaurant( restaurant )
                </div>
                    }
            }
        </div>
    </section>

    <section id="New Review">
        <br />
        <div id="reviewModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-body">

                <hgroup>
                    <h2>Create a New Review</h2>
                    <h5>Select the Restaurant to Review.</h5>
                </hgroup>

                <form id="form_review">
                    <select name="restaurant" id="restaurant">
                        @foreach (var restaurant in Model)
                            {
                            <option value="@restaurant.Id">@restaurant.Name</option>
                        }
                    </select>
                    <br />
                    <textarea name="new-review" id="new-review" placeholder="Review" rows="10" style="width: 550px;"></textarea>
                    <br />
                </form>

            </div>

            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-primary" type="submit" onclick="createReview()">Create Review</button>
            </div>


        </div>
    </section>
    
    <script type="text/javascript">
        function createReview()
        {
            var url = "/review/create/";
            var postData = $('#form_review').serialize();
            var request = $.post(url, postData);

            request.done(function () {
                bootbox.alert("Review Created Successfully!");
                $('#reviewModal').modal('hide').destroy();
            });

            request.fail(function () {
                bootbox.alert("Review could not be created!");
                $('#reviewModal').modal('hide').destroy();
            });

        }
    </script>
</body>
