@using Showdown.Model
@using System.Collections.Generic

@inherits  Nancy.ViewEngines.Razor.NancyRazorViewBase<IEnumerable<Showdown.Model.Tip>>

@{
    ViewBag.Title = "Tips";
    Layout = "/Common/_Layout";
}

@helper DisplayTip()
    {
        <h2>Tips</h2>                                                                                      
        <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Type</th>
                        <th>Content</th>
                        <th>CreatedDate</th>
                        <th>Take Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var m in Model)
                        {
                        <tr>
                            <td>@m.Id</td>
                            <td>@m.Type</td>
                            <td>
                                <p data-name="content" data-type="textarea" data-pk=@m.Id data-url="/tips/edit/@m.Id" data-original-title="Content">@m.Content</p>
                            </td>
                            <td>@m.CreatedOn.ToShortDateString()</td>
                            <td>
                                <!-- Not sure about the form here. 
                                    A hyperlink and a ajax post should suffice as well.
                                    -->
                                <form id="form-delete-tip" method ="Post" action="/tips/delete/@m.Id">
                                    <input type="hidden" name="_method" value="DELETE" />
                                    <a href="#" onclick="document.getElementById('form-delete-tip').submit();">Delete</a>
                                </form>

                            </td>
                        </tr>
                        }
                </tbody>
        </table>
    }

@RenderBody()

<section id ="Messages">
    <div class="container">
            
        <div class="btn-group pull-right">
            <a class="btn btn-primary" href="#">Tips</a>
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/tips/create">Create</a></li>
                <li class="divider"></li>
                <li><a href="/tips/search">Search</a></li>
            </ul>
            <br />
        </div>
        <div id="tips">
            @DisplayTip()
        </div>
        
    </div>
</section>


@section Scripts
@section MyScripts
{
    <script type="application/javascript">
        $(document).ready(
            function() {
                $('#tips').find('p').editable({
                    ajaxOptions: {
                        type: 'put'
                    },
                    mode: 'inline',
                    inputclass: 'input-xlarge'
                });
            })
    </script>
}